body,
html {
	margin: 0;
	background-color: black;
	font-family: "Helvetica", sans-serif;
	color: seashell;
	opacity: 0.9;
	font-size: 22px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	background-color: black;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
}

#teaLogo {
	height: 50px;
	margin-left: 10px;
}

.navItems {
	margin: 0 10px 0 20px;
	text-decoration: underline;
}

#mainArticle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 69px;
	margin: 0 auto;
	background-image: url(./images/img-mission-background.jpg);
	background-repeat: no-repeat;
	height: 700px;
	width: 1200px;
}

#missionText {
	background-color: black;
	text-align: center;
	width: 1200px;
}

.narrative {
	margin: 5px 5px;
}

h2.narrative {
	padding-bottom: 20px;
}