body,
html {
	margin: 0;
	background-color: black;
	font-family: "Helvetica", sans-serif;
	color: seashell;
	opacity: 0.9;
	font-size: 22px;
}

/*heading styles*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	background-color: black;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
}

#teaLogo {
	height: 50px;
	margin-left: 10px;
}

.navItems {
	margin: 0 10px 0 20px;
	text-decoration: underline;
}

/*===================================*/

/*Mission Statement styles*/

#mainArticle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 69px;
	margin: 0 auto;
	background-image: url(./images/img-mission-background.jpg);
	background-repeat: no-repeat;
	height: 700px;
	width: 1200px;
}

#missionText {
	background-color: black;
	text-align: center;
	width: 1200px;
}

/*===================================*/

/*descriptive headings*/

.narrative {
	margin: 5px 5px;
}

h2.narrative {
	padding-bottom: 20px;
}

/*===================================*/

/*Tea of the month section*/

#teaOfTheMonth {
	text-align: center;
	width: 1000px;
	margin: 150px auto 50px auto;
}

#teaOfTheMonth h4 {
	margin-bottom: 25px;
}

#teaImg {
	display: flex;
	justify-content: space-around; 
	flex-wrap: wrap;
}

.images {
	height: 200px;
	width: 300px;
}

.desc {
	text-align: center;
	margin-top: 10px;
}

#bottomImg,
.row {
	display: flex;
}

#bottomImg {
	margin: 0 auto;
}

.imgWrap {
	padding: 20px;
}

/*===================================*/


/*Locations*/

#locations {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(./images/img-locations-background.jpg);
	height: 575px; /* the background image was to small with 500px */
	width: 1200px;
	margin: 0 auto;
}

#locationBlocks {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
}

.block {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: black;
	text-align: center;
	width: 300px;
	height: 270px;
	opacity: 1;	
	margin: 0 20px 65px 20px;
}

#locations h2 {
	text-align: center;
	margin-bottom: 15px;
}

/*===================================*/

/* Contact */

#contact {
	height: 200px;
	text-align: center;
	width: 100%;
}

/*Footer*/

#footer {
	text-align: left;
	margin-left: 20px;
}

