body,
html {
	margin: 0;
	background-color: black;
	font-family: "Helvetica", sans-serif;
	color: seashell;
	opacity: 0.9;
	font-size: 22px;
}

/*heading styles*/

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 10;
	background-color: black;
	height: 69px;
	width: 100%;
	border-bottom: 1px solid seashell;
}

#teaLogo {
	height: 50px;
	margin-left: 10px;
}

.navItems {
	margin: 0 10px 0 20px;
	text-decoration: underline;
}

/*Mission Statement styles*/

#mainArticle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 69px;
	margin: 0 auto;
	background-image: url(./images/img-mission-background.jpg);
	background-repeat: no-repeat;
	height: 700px;
	width: 1200px;
}

#missionText {
	background-color: black;
	text-align: center;
	width: 1200px;
}

.narrative {
	margin: 5px 5px;
}

h2.narrative {
	padding-bottom: 20px;
}

#teaOfTheMonth {
	text-align: center;
	width: 1000px;
	margin: 150px auto;
}

#teaOfTheMonth h4 {
	margin-bottom: 25px;
}



/* bottom pictures not quite like in the redline, which I could change with a div and put the images in seperate div container and manually assign margins */
/*I prefer the flex-wrap attempt tho to make it more responsive*/

#teaImg {
	display: flex;
	align-items: center;
	justify-content: space-around; 
	flex-wrap: wrap;
}

.images {
	height: 200px;
	width: 300px;
}

.desc {
	text-align: center;
	margin-top: 10px;
}

.row {
	display: flex;
}

#bottomImg {
	display: flex;
	margin: 0 auto;
}

.imgWrap {
	margin-right: 30px;
}

